################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/packages
/.vs/Cryptostar/v15
/.vs/Cryptostar/v15/.suo
*.suo
/bin/Debug
